@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

/*** SWIPE LIST OVERRIDES **/
.swipeable-list-item__leading-actions, 
.swipeable-list-item__trailing-actions {
  @apply text-white text-lg uppercase font-bold font-lato;
}
.swipeable-list-item__leading-actions{
  @apply bg-slate-700/60;
}
.swipeable-list-item__trailing-actions {
  @apply bg-red-600/60;
}
.swipeable-list .swipe-action {
  @apply flex justify-center items-center
}

